.postpage-image img{
    width: 100%;
    padding:20px;
    display: block;
    height: 600px;
    background-size:cover ;
}
.conten{
    width: 100%;
    max-width: 60%;
    margin: 2rem auto;
    
    
}
.postpage-image h1{
    text-align: center;
    font-size: 4rem;
}
.postpage-image{

    border-radius: 20px;
    width: 60%;
    margin: 2rem auto 1rem;

    border:2px solid black
}