header{
    max-width: 1200px;
    background-color: transparent;
    margin: 2rem auto 0;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
  }
  header a{
    text-decoration: none;
    color: black;
  }
  header > a:first-child{
    font-size: 1rem;
  }
  @media screen and (min-width:768px){
    header > a:first-child{
      font-size: 1.5rem;
    }
    .small{
      font-size: 1.5rem;
    }
    .header .auth{
      display: flex;
      gap:30px;
    }
   
  }
  .small{
    font-size: .8rem;
   
  }
  
  header .auth{
    display: flex;
    gap:10px;
  }
  .post{
    margin: 2rem;
  }